---
---

@import "{{ site.theme }}";

body {
  background-color: #111;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 7em;

  a {
    color: hsl(0, 0%, 80%);
    &:hover {
      color: hsl(0, 0%, 95%);
    }
  }

  .icon > svg {
    width: 1em;
    height: 1em;

    path {
      fill: hsl(0, 0%, 80%);
    }

    &:hover path {
      fill: hsl(0, 0%, 95%);
    }
  }
}
